"""Instructor example functions"""
from .client import get_client
from .models import User
from typing import List

def extract_user(text: str) -> User:
    """Extract a user from a block of text."""
    client = get_client()
    return client.chat.completions.create(
        model="gpt-4o-mini",
        response_model=User,
        messages=[{"role": "user", "content": text}],
    )

def extract_users(text: str) -> List[User]:
    """Extract multiple users from a block of text."""
    client = get_client()
    return client.chat.completions.create(
        model="gpt-4o",
        response_model=List[User],
        messages=[{"role": "user", "content": text}],
    )
